<p *ngIf="!santas"><em>Loading...</em></p>

<aside *ngIf="santas">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Giver</th>
                <th>Receiver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pair of santas" aria-live="polite">
                <td> {{ pair.giver.lastName }} {{ pair.giver.firstName }} </td>
                <td> {{ pair.receiver.lastName }} {{ pair.receiver.firstName }} </td>
            </tr>
        </tbody>
    </table>
</aside>

<app-secret-santa-input-form (onSubmit)="handleSantaRegistration($event)"></app-secret-santa-input-form>
