form {
    margin: 0.2rem;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
}

form > * {
    margin: 1rem;
}

form label {
    margin: auto 0.5rem;
}

form input{
    position: relative;
    float: right
}

form button {
    margin: 0.2rem auto;
    width: 70%;
    position: relative;
    display: block;
}
